.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e1e1e;
}

.box {
  width: 320px;
  padding: 25px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.box h2 {
  margin-bottom: 20px;
  color: #333;
}

.box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: none;
  border-radius: 6px;
  background-color: #eaeaea;
  font-size: 14px;
  color: black;
}

.box button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
}

.box button:hover {
  background-color: #43a047;
}


.error {
  margin-top: 10px;
  color: red;
  font-size: 13px;
}
